<nav class="navbar is-link is-spaced" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="./images/beer.jpg" width="112" height="28">
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-start">

      <a href="/" class="navbar-item">
        Add Beer!
      </a>

      <a href="/beer" class="navbar-item">
        View Beers!
      </a>

    </div>
  </div>
</nav>